body{
background-image: url(Blue_Clouds.jpg);
}
h1 {
font-family: "Times New Roman", Times, serif;
color: green;
}
p{
font-family: Georgia, serif;
color: red;
font-size:18px;
font-weight:bold;
}

h2{
font-family: "MS Sans Serif", Geneva, sans-serif;
color: green;
}

